<header role="header" style="background:url('/assets/header_image.png'); height: 90vh">
     <div class="section-content ">
      <div class="masthead-title">
        <h1 class="center-content">LIKE WHAT YOU SEE?</h1>
      </div>
      <div class="site-header-button">
        <a class="btn watchlive live-hidden">Invite a Friend</a>
      </div>
      <div class="">
        <div class="col-xs-12 visible-xs nopadding text-center">
          <img class="down-arrow" >
        </div>
      </div>
    </div>
  </header>
  <nav class="nav navbar-fixed-top">
    <div class="container nopadding nav-border">
      <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 nopadding logo-space">
        <div class="logo">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <img class="menuopen" src="/assets/menuopen.svg" alt="Menu content" >
                <img class="menuclose" src="/assets/menuclose.svg" alt="X" style="display: none;">
            </button>
            <a href="index.html"><img src="/assets/logo.png" class="log-img"></a>
        </div>
        <div>
          <ul class="nav-list itemchange">
            <li class="nav-item">
                <a  href="index.html" >Home</a>
                <ul class="nav-submenu">
                   <li class="nav-submenu-item">
                    <a class="sub-menu watchlive-menu live-hidden" href="faq.html">Faq</a>
                    </li>
                  <li class="nav-submenu-item">
                    <a class="sub-menu watchlive-menu live-hidden" href="about.html">About</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item mobile-menus">
                <a href="calendar.html">Calendar</a>
            </li>
            <li class="nav-item">
                <a  href="">Resources</a>
            </li>
            <li class="nav-item">
               <a  href="contact.html">Contact</a>
            </li>
            <li class="nav-item ">
                  <a class= "signup-menu border-menu">Signup</a></li>
           <li class="nav-item visible-xs">
                  <a class= "signup-menu border-menu">Search</a></li>
          </ul>
        </div>
    </div>
  </div>
  <div class="container hidden-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="box">
        <input class="search" type="search" placeholder="Search" />
          <div class="icon"></div>  
      </div>
    </div>
  </div>
  <div class="menuopen">
   </div>
</nav>